.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    position: relative;
    padding-top: 60px;
}

.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.screen__circle {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: tomato;
    position: absolute;
    right: 31px;
    top: 35px;
}

@keyframes rotateGear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 1s linear infinite;
}